{% extends "base.html" %}
{% block title %} DICOM Server Details {% endblock %}


{% block heading %}
<h1>DJICOM Server Detail Page</h1>
{% endblock %}

{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'home/javascript/dwv.min.js' %}"></script>

<h2>Server Info</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Hostname</td>
      <td>AE Title</td>
      <td>Port Num</td>
      <td>Is Running?</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ server.hostname }}</td>
      <td>{{ server.ae_title }}</td>
      <td>{{ server.port }}</td>
      <td>{{ server.is_running}}</td>
    </tr>
  </tbody>
</table>

<h2>DICOM Directory: <code>{{ server.output_directory }}</code></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Filename</td>
      <td>Thumbnail</td>
    </tr>
  </thead>
  <tbody>
    {% if server.get_output_files is not None %}
    {% for file in server.get_output_files %}
    <tr>
      <td>{{ file }}</td>
      <td id="dcm-thumbnail"></td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

<script>
  // example from js dwv dicom viewer
  // create the dwv app
  var app = new dwv.App();
  // initialize with the id of the container div
  app.init({
    dataViewConfigs: { '*': [{ divId: 'dcm-thumbnail' }] }
  });
  // load dicom data
  app.loadURLs(['https://raw.githubusercontent.com/ivmartel/dwv/master/tests/data/bbmri-53323851.dcm']);
</script>

{% endblock %}
